body{
    display: flex;
    background-color: #1a1a1a;
    color: white;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.clock{
    background-color: #2d2d2d;
    padding: 2rem 4rem;
    border-radius: 1rem;
    box-shadow:0 0 20px rgba(0,0,0.3);
}
.time{
    font-size: 5rem;
    font-weight: bold;
    color: #ba7ed9;
    text-align: center;
}
.date{
    color: #999;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.controls{
    position: absolute;
    top: 10px;
    left:0;
    right:0;
    display:flex;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
}
.color-picker input[type="color"] {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    background:none;
}
#sound-toggle{
    padding: 8px 12px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}
#sound-toggle:hover {
    background-color: #3c3c3c; /* Change color on hover */
}